
<div class="row">                
    <div class="col-12 col-md-4 ">  
        <br>                    
        <a class="navbar-brand text-light " href="index.html">
            <img src="favicon.ico" width="90" height="90" alt="logo" loading="lazy">
        </a> 
    </div> 
    <div class="col-12 col-md-4 ">
        <a class="navbar-brand text-dark" href="">
            <img src="favicon.ico" width="50" height="50" alt="gmail" loading="lazy">madressolterasfundacion@gmail.com </a>  
        <a class="navbar-brand text-dark   " href="">
            <img src="favicon.ico" width="50" height="50" alt="ubicacion" loading="lazy">
            Medellin-Colombia  
        </a>    
        <br>        
    </div>
    <div class="col-12 col-md-4">                   
        <a class="navbar-brand text-dark" href="">
            <img src="favicon.ico" width="50" height="50" alt="derechosRes" loading="lazy">Copyright</a> <br>

        <a class="navbar-brand text-light" href="" target="blank">
            <img src="favicon.ico" width="50" height="50" alt="whatsaap" loading="lazy">
        </a> 
        <a class="navbar-brand text-light   " href="https://www.instagram.com/madressolterasfundacion/?fbclid=IwAR38r2kHRM278EjY9NJ9ABkjeu851CB8irFf2WzxDRkz4UlPdJmD7pkJklE" target="blank">
            <img src="favicon.ico" width="50" height="50" alt="instagram" loading="lazy">
        </a> 
        <a class="navbar-brand text-light   " href="https://www.facebook.com/fundacionmadressolteras" target="blank">
            <img src="favicon.ico" width="50" height="50" alt="facebook" loading="lazy">
        </a> 
        <a class="navbar-brand text-light   " href="https://twitter.com/madresolterasf1?fbclid=IwAR3g7xgB_7xxMle_426mCm5TOEBcFLVSotr3AQ4y4KfWNWjCEmH_JKYNji8" target="blank">
            <img src="favicon.ico" width="50" height="50" alt="twitter" loading="lazy">
        </a>                         
    </div>     
                                                                              
</div>
    
    


