<app-head></app-head>

<div class="container">
    <!-- barra de navegacion -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    categorias </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="Mujeres">Mujeres</a>
                            <a class="dropdown-item" href="Niñ@s">Niños</a>
                        </div>
                </li>
            </ul>
                    <!-- buscador  -->
                     <!-- <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="bsucar" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">bsucar</button>
                    </form> -->
        </div>
    </nav>
                    <!-- fin de barra de navegacion -->
                    <!-- carrusel  -->
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="hola" src="https://wowslider.com/sliders/demo-80/data1/images/plumage176723_1920.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img class="hola" src="https://cssslider.com/sliders/demo-10/data1/images/3.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img class="hola" src="https://cssslider.com/sliders/demo-10/data1/images/2.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Siguiente</span>
        </a>
                <!-- audio del carrusel -->
        
            <audio src="" autoplay controls loop ></audio>
  
                <!-- final de carrusel -->
    </div>
    <h1 class="text-center text-danger">descripcion sobre nosotros</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In eaque cum, provident sint earum est, unde quo sit amet quia nostrum dolores deserunt quod, fugit perspiciatis necessitatibus. Provident voluptate nobis assumenda in unde dolor vitae, doloribus sed fugit laborum nulla quibusdam, sunt, velit exercitationem reiciendis amet ea nemo repellat aliquid deleniti aut cumque sapiente. Illo consequuntur unde itaque dolorem atque, corporis autem soluta ducimus ad natus sequi labore placeat mollitia nobis non enim quia necessitatibus accusantium impedit? Et ullam maxime explicabo? Reprehenderit nostrum obcaecati recusandae quisquam magni, iure quam adipisci debitis dolorem iusto distinctio et! Nam maiores incidunt exercitationem unde?
        </p>

        <iframe width="853" height="480" src="https://www.youtube.com/embed/Mw9yzHEONg4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen ></iframe>
       
</div>


<app-footer></app-footer>